{% extends 'base.html' %}
{% block content %}
<style>
.container{
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}
</style>
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Bem vindo admin, oque deseja?:</h1>
    <a href="/admin_produto" class="btn btn-lg btn-primary btn-block">Gerenciar produtos</a>
    <a href="/admin_cliente" class="btn btn-lg btn-primary btn-block">Gerenciar clientes</a>
    <a href="/deslogar" class="btn btn-lg btn-danger btn-block">Deslogar</a>
</div>
{% endblock %}
