{% extends 'base.html' %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/admin.css') }}">
<div class="container" id="container-cruds">
    <div class="container" id="container-produto">
        <h1>CRUD <span class="badge bg-danger">Pagamentos</span></h1>
        <div class="row col-md-6 col-md-offset-2 custyle">
    </div>
    <table id="tabela" class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do cliente</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th class="text-center">Ação</th>
        </tr>
    </thead>
    {% for pagamento in pagamentos %}
    <tr>
        <td>{{ pagamento.getId() }}</td>
        <td>{{ pagamento.getCliente().getNome() }}</td>
        <td>
            {% for produto in pagamento.getCarrinho().getProdutos() %}
            <small>
                {{ produto.getNome() }} x {{ produto.getQuantidade() }} <br/>
            </small>
            {% endfor %}
        </td>
        <td>R$ {{ pagamento.getCarrinho().getTotal() }}</td>
        <td class="text-center">
            {% if pagamento.getEstado().getId() == 1 %}
            <a href="/trocar_estado/{{pagamento.getId()}}/2" style="margin: 5px;" class='btn btn-info btn-xs'>
                <span class="glyphicon glyphicon-edit"></span> Marcar como enviado
            {% elif pagamento.getEstado().getId() == 2 %}
            <a href="/trocar_estado/{{pagamento.getId()}}/3" style="margin: 5px;" class='btn btn-info btn-xs'>
                <span class="glyphicon glyphicon-edit"></span> Marcar como entregue
            {% elif pagamento.getEstado().getId() == 3 %}
            <a style="margin: 5px;" class='btn btn-info btn-xs' href="/trocar_estado/{{pagamento.getId()}}/4">
                <span class="glyphicon glyphicon-edit"></span> Marcar como finalizado
            </a>
            {% else %}
            <span class="glyphicon glyphicon-edit"></span> Finalizado
            {% endif %}
            </a> 
        </td>
    </tr>
    {% endfor %} 
    </table>
</div>
{% endblock %}